@{
    ViewData["Title"] = "Lista de Tarefas";
}

@model IEnumerable<ControleDeTarefas.Models.Tarefa>

<div class="text-center">
    <h1 class="display-4">Lista de Tarefas</h1>
</div>

<div class="text-right">
    <a href="Tarefa/Create" class="btn btn-small btn-primary"><i class="fa fa-plus"></i> Nova Tarefa</a>
</div>

<div>
    <table class="table">
        <tr>    
            <th>Código</th>
            <th>Nome</th>
            <th>Data Limite</th>
            <th>Percentual</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.codigo</td>
                <td>@item.prioridade</td>
                <td>@item.nome</td>
                <td>@item.dataLimite.ToString("dd/MM/yyyy")</td>
                <td>@item.percentual%</td>
                <td>
                    @if(item.status == true){
                        <span class="badge badge-success">Concluído</span>
                    } else {
                        <span class="badge badge-primary">Não Concluído</span>
                    }
                </td>
                <td>
                    @if(item.status == true){
                        <a class="btn btn-danger" href="Tarefa/Delete/@item.codigo"><i class="fa fa-trash"></i></a> 
                    }
                    <a class="btn btn-primary" href="Tarefa/Edit/@item.codigo"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }
    </table>
</div>